  <div class="one-half">
      <form accept-charset="UTF-8" action="{{ '~/account/phonenumber' | absolute_url }}" method="post" id="customer_phonenumber" name="customer_phonenumber">

          <h3> {{ 'customer.phone_number.manage' | t }} </h3>

          {% include 'form-errors-custom' %}
          {{ antiforgery }}
          <input type="text" name="customer[phoneNumber]" placeholder="{{ 'contact.form.phone' | t }}" value="{{ form.phone_number }}" autofocus>
          <input type="submit" value="{{ 'verify.code.send_code' | t }}" class="btn">

      </form>
</div> 
