<h1>{{ 'bulk_order.general.title' | t }}</h1>
{% if form.errors %}
    <div class="note form-error">
        <p>{{ 'bulk_order.general.items_not_found_message' | t }}</p>
        <ul class="disc">
            {% for field in form.errors %}
                <li>{{ form.errors.messages[field] }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="grid">
    <div class="grid-item two-thirds">
        <p>{{ 'bulk_order.general.description' | t }}</p>
        <form action="{{ '/bulkorder/addfielditems' | absolute_url }}" method="POST">
            <div class="grid">
                {% for col_index in (0..1) %}
                    <div class="grid-item one-half">
                        {% include 'bulk-order-fields-column', column_index: col_index %}
                    </div>
                {% endfor %}
            </div>
            <button id="bulk-sku-addButton" class="btn" type="submit">{{ 'bulk_order.general.add_to_cart' | t }}</button>
        </form>
    </div>
    <div class="grid-item one-third">
        <p>{{ 'bulk_order.general.csv_description' | t }}</p>
        <form action="{{ '/bulkorder/addcsvitems' | absolute_url }}" method="POST">
            <textarea id="field-bulk-csv" name="csv" placeholder="{{ 'bulk_order.general.csv_field_placeholder' | t }}" rows="20"></textarea>
            <button id="bulk-csv-addButton" class="btn" type="submit">{{ 'bulk_order.general.add_to_cart' | t }}</button>
        </form>
    </div>
</div>
<script>
    $("#bulk-sku-addButton").addClass('disabled');
    $("#bulk-csv-addButton").addClass('disabled');
    $('[id="field-bulk-sku"]').keyup(function() {
        var empty = true;
        $('[id="field-bulk-sku"]').each(function() {
            if ($(this).val().length > 0) {
                empty = false;
            }
        });
        if (empty) {
            $("#bulk-sku-addButton").addClass('disabled');
        } else {
            $('#field-bulk-csv').css("box-shadow", "");
            $('#field-bulk-csv').css("border", "");
            $('#bulk-sku-addButton').removeClass('disabled');
        }
    });

    $('#field-bulk-csv').keyup(function() {
        if ($(this).val().length = 0)
            $("#bulk-csv-addButton").addClass('disabled');
    });
    $('#field-bulk-csv').keyup(function( e ) {
        var regex = /([A-Z,0-9,a-z]+)([,]\d{1,})/;
        var input = $(this).val();
        if (input.match(regex)) {
            $('#field-bulk-csv').css("border-color", "");
            $('#field-bulk-csv').css("box-shadow", "");
            $("#bulk-csv-addButton").removeClass('disabled');
         }
        else {
            $("#bulk-csv-addButton").addClass('disabled');
            $('#field-bulk-csv').css("border", "1px solid #f39f9f");
            $('#field-bulk-csv').css("box-shadow", "0 0 5px #f39f9f");
        }
    });
</script>
